.widget {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widget__header {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 10px;
}

.widget__header > h2 {
  font-size: 16px;
  font-weight: 400px;
}