.widget {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widget__header {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 10px;
}

.widget__header > h2 {
  font-size: 16px;
  font-weight: 400px;
}

.widget__article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widget__article:hover {
  background-color: whitesmoke;
}

.wiget__articleLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widget__article > .MuiSvgIcon-root {
  font-size: 15px;
}

.widget__articleRight {
  flex: 1;
}

.widget__articleRight > h4 {
  font-size: 14p;
}

.widget__articleRight > p {
  font-size: 12px;
  color: gray;
}